# Make a copy of this file and rename it to .env

# Get your key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# RSS News Settings
NEWS_RSS_URL=https://www.yahoo.com/news/rss
MAX_RSS_ITEMS=7

# Whether or not to use prefixes !gpt and !dalle
PREFIX_ENABLED=true

# Set own prefixes for ChatGPT, DALL-E and configuration
GPT_PREFIX=!gpt
DALLE_PREFIX=!dalle
AI_CONFIG_PREFIX=!config
NEWS_PREFIX=!news
