# Make a copy of this file and rename it to .env

# Get your key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Whether or not to use prefixes !gpt and !dalle
PREFIX_ENABLED=true

# Set own prefixes for ChatGPT, DALL-E and configuration
GPT_PREFIX=!gpt
DALLE_PREFIX=!dalle
AI_CONFIG_PREFIX=!config

# Defines if the bot should recognize and transcribe your voice messages
# Be aware that this feature will use our Speech API to convert the GPT response to voice
# Your data is not stored permanently or used for anything else
# It's open source: https://github.com/askrella/speech-rest-api
TRANSCRIPTION_ENABLED=false

# Defines if the bot should send voice message responses
# Be aware that this feature will use our Speech API to convert the GPT response to voice
# It's open source: https://github.com/askrella/speech-rest-api
TTS_ENABLED=false
