{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "none",
    "jsxBracketSameLine": true,
    "bracketSameLine": true,
    "endOfLine": "crlf"
}
